@using WebApplication3.Models
@{
    ViewData["Title"] = "UrediForm";
    Kupac kupac = (Kupac) ViewData["kupac-kljuc"];
}

<h2>Uredi Kupca</h2>

<h2>Dodaj u Tabelu </h2>

<form action="/Kupac/UrediSnimi" method="post">
    <input type="text" value="@kupac.Id" name="KupacId" />
   
    <div class="form-group">
        <label>Naziv prvog itema</label>
        <input name="Naziv" class="form-control" placeholder="Naziv" type="text" value="@kupac.Name" />
    </div>
    <div class="form-group">
        <label> Unesi Score za prvi item</label>
        <input name="Score" class="form-control" placeholder="Score" type="number" value="@kupac.Score" />
    </div> <div class="form-group">
        <label>Naziv drugog itema </label>
        <input name="Naziv1" class="form-control" placeholder="Naziv" type="text" value="@kupac.Name" />
    </div>
    <div class="form-group">
        <label>Unesi Score za drugi item</label>
        <input name="Score1" class="form-control" placeholder="Score" type="number" value="@kupac.Score" />
    </div>

    <input type="submit" value="Snimi" />
</form>